<!-- <div class="container">
  <app-header></app-header>
  <app-account-details *ngIf="bankAccount" [bankAccount]="bankAccount"></app-account-details>
  <app-transfer bankAccountNumber="19cd1fc4-d235-4647-b5bb-aeae54df022a"
    (updateAccountDetails)="refreshAccountDetails()"></app-transfer>
  <app-beneficiary-list [bankAccountNumber]="bankAccount.accountNumber"></app-beneficiary-list>
 <app-transactions-list [bankAccountNumber]="bankAccount.accountNumber"></app-transactions-list> 
</div> -->

<header>
    <nav class="navbar navbar-expand navbar-toggleable-sm navbar-dark bg-dark" >
        <div class="container">

            <button class="navbar-toggler"
                    type="button"
                    data-toggle="collapse"
                    data-target=".navbar-collapse"
                    aria-label="Toggle navigation"
                    [attr.aria-expanded]="isCollapsed"
                    (click)="toggle()">

                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="navbar-collapse collapse d-sm-inline-flex flex-sm-row-reverse"
                 [ngClass]="{ show: isCollapsed }">

                <ul class="navbar-nav flex-grow">

                    <li class="nav-item"
                           [routerLinkActive]="['link-active']"
                        [routerLinkActiveOptions]="{ exact: true }">
                    </li>

                    <li>
                        <a class="nav-item nav-link" routerLink="/home">Home</a>
                    </li>
                    <li>
                        <a class="nav-item nav-link" routerLink="/statement">Statement</a>
                    </li>
                    <li>
                        <a class="nav-item nav-link" routerLink="/transact">Make Transactions</a>
                    </li>
                    <li>
                        <a class="nav-item nav-link" routerLink="/beneficiary">Manage Beneficiaries</a>
                    </li>
                    <li>
                        <a class="nav-item nav-link" routerLink="/help">Help</a>
                    </li>
                    <li>
                        <a class="nav-item nav-link" routerLink="">Logout</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
    <h3>
        Welcome user!
    </h3>
    <app-header></app-header>
    <app-account-details *ngIf="bankAccount" [bankAccount]="bankAccount"></app-account-details>
    <style>
        h3 {text-align: center;}
        h3 {height: 30px ;}
    </style>
    <style>
        .cont {
          height: 230px;
          position: relative;
          /* border: 3px solid rgb(0, 0, 0); */
        }
        
        .center {
          margin: 0;
          position: absolute;
          top: 50%;
          left: 50%;
          -ms-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
        }
    </style>
    <div class = "cont">
        <div class = "center">
            <p>
                Your account number: <br> Your account balance : <br> Your account type: <br>
            </p>
        </div>
    </div>
</header>