<header>
    <nav class="navbar navbar-expand navbar-toggleable-sm navbar-dark bg-dark" >
        <div class="container">

            <button class="navbar-toggler"
                    type="button"
                    data-toggle="collapse"
                    data-target=".navbar-collapse"
                    aria-label="Toggle navigation"
                    [attr.aria-expanded]="isCollapsed"
                    (click)="toggle()">

                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="navbar-collapse collapse d-sm-inline-flex flex-sm-row-reverse"
                 [ngClass]="{ show: isCollapsed }">

                <ul class="navbar-nav flex-grow">

                    <li class="nav-item"
                           [routerLinkActive]="['link-active']"
                        [routerLinkActiveOptions]="{ exact: true }">
                    </li>

                    <li>
                        <a class="nav-item nav-link" routerLink="/home">Home</a>
                    </li>  
                    <li>
                        <a class="nav-item nav-link" routerLink="/help">Help</a>
                    </li>
                    <li>
                        <a class="nav-item nav-link" routerLink="">Logout</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
    <h3>
        Welcome user! 
    </h3>
    <form>
        Beneificiary name: <input type = "text" name = "bname"/><br>
        Account number: <input type = "text" name = "acno"/><br>
        Re-enter account number: <input type = "text" name = "re_acno"/><br>
        SSN: <input type = "text" name = "re_acno"/><br>
    </form>
    <style>
        h3 {text-align: center;}
        h3 {height: 60px ;}
        h4 {text-align:center;}
        h4 {height: 90px ;}
        form {text-align : center;}
    </style>
    
</header>